* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #2e1b47;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'IM FELL English SC';
  }
  
  .container {
    background-color: #4c2c63;
    padding: 20px;
    border-radius: 10px;
    width: 320px; /* Zorgt ervoor dat het klein blijft, ook op desktop */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  select,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #000;
  }
  
  .book-section {
    margin-bottom: 20px;
  }
  
  .add-button {
    background-color: #6b4a86;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .book-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .book-icon {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .book-icon img {
    height: 32px;
    width: 32px;
  }
  
  .book-icon:hover {
    background-color: #ddd;
  }
  
  .save-button {
    background-color: #391b4a;
    color: #fff;
    width: 100%;
    padding: 12px;
    border-color: EFE9CF;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .save-button:hover {
    background-color: #512b5b;
  }
  
  /* Zorgt ervoor dat het ontwerp mobiel blijft, ook op grotere schermen */
  @media (min-width: 600px) {
    .container {
      width: 320px;
    }
  }
  

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}